name: publish to nuget
on:
  push:
    branches:
    - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: alirezanet/publish-nuget@v3.0.4
      with:
        PROJECT_FILE_PATH: Ptixed.Sql/Ptixed.Sql.csproj
        NUGET_KEY: ${{secrets.NUGET_KEY}}
        TAG_FORMAT: Ptixed.Sql.v*
        TAG_COMMIT: true
    - uses: alirezanet/publish-nuget@v3.0.4
      with:
        PROJECT_FILE_PATH: Ptixed.Sql.SqlServer/Ptixed.Sql.SqlServer.csproj
        NUGET_KEY: ${{secrets.NUGET_KEY}}
        TAG_FORMAT: Ptixed.Sql.SqlServer.v*
        TAG_COMMIT: true